.DS_Store
__pycache__/
*.pyc
*.pyo
.__pycache__
backend/DB/__pycache__
backend/V2_login/__pycache__
backend/V2_match/__pycache__
backend/V2_team/__pycache__
backend/aground/__pycache__
backend/assist/__pycache__
backend/league/__pycache__
backend/login/__pycache__
backend/match/__pycache__
backend/player/__pycache__
backend/staticfiles/__pycache__
backend/team/__pycache__
backend/user/__pycache__
# Ignore all __pycache__ directories and files
**/__pycache__/
*.pyc
*.pyo
.__pycache__

backend/DB/migrations/__pycache__