@mixin font($size,$weight){
    font-size: $size;
    font-weight: $weight;
}
@mixin centerDisplay($direc){
    display: flex;
    flex-direction: $direc;
    align-items: center;
    justify-content: center;
}
.extra_background{
    @include centerDisplay(column);
    .extra_title{
        @include font(2.5vh, 600);
        margin: 8vh 0;
    }
    .extra_button{
        margin-top: 40vh;
    }
}