.after_match_background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}
.after_match_background .after_match_title {
  font-size: 2.1vh;
  font-weight: 700;
  margin-top: 2.5vh;
}
.after_match_background .after_match_goback_icon {
  height: 2vh;
  position: relative;
  right: 18.7vh;
  top: 4.6vh;
}
.after_match_background .after_match_score_inputbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.after_match_background .after_match_score_inputbox .after_match_score {
  font-size: 2vh;
  font-weight: 500;
  width: 90%;
  margin: 3vh 0 1.5vh 0;
  height: 2vh;
}
.after_match_background .after_match_score_inputbox .after_match_score .after_match_score_essencial {
  color: rgb(255, 0, 0);
  position: relative;
  bottom: 1.8vh;
  margin: 0;
  left: 5vh;
}
.after_match_background .after_match_score_inputbox .after_match_score_input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.after_match_background .after_match_score_inputbox .after_match_score_input .after_match_score_input_- {
  font-size: 3vh;
  color: #000000;
}
.after_match_background .after_match_score_playerbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.after_match_background .after_match_score_playerbox .after_match_player_title {
  font-size: 1.8vh;
  font-weight: 500;
  width: 85%;
  height: 1.8vh;
  margin: 3vh 0 1.5vh 0;
}
.after_match_background .after_match_score_playerbox .after_match_player_title .after_match_player_title_essencial {
  color: rgb(255, 0, 0);
  position: relative;
  bottom: 1.8vh;
  margin: 0;
  left: 8.7vh;
}
.after_match_background .after_match_score_playerbox .after_match_player_title .after_match_player_title_number {
  color: #000000;
  position: relative;
  bottom: 5vh;
  font-size: 1.8vh;
  left: 29vh;
  width: 7vh;
  text-align: center;
  line-height: 3vh;
  height: 3vh;
  border-radius: 2vh;
  align-items: center;
  border: 1px solid black;
}
.after_match_background .after_match_score_playerbox .after_match_player_list {
  width: 40vh;
  height: 30vh;
  margin: 1vh 0 2vh 4vh;
  overflow-y: scroll;
  display: block;
}
.after_match_background .after_match_score_playerbox .after_match_player_list .after_match_player {
  width: 90%;
  height: 6vh;
  background-color: rgb(234, 235, 237);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1vh;
  border-radius: 3vh;
  cursor: pointer;
}
.after_match_background .after_match_score_playerbox .after_match_player_list .after_match_player.selected {
  background-color: #000000;
  color: white;
}
.after_match_background .after_match_score_playerbox .after_match_player_list .after_match_player_name {
  font-size: 2vh;
  font-weight: 600;
}
.after_match_background .after_match_score_gps_playerbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.after_match_background .after_match_score_gps_playerbox .after_match_gps_player_title {
  font-size: 1.8vh;
  font-weight: 500;
  width: 85%;
  height: 1.8vh;
  margin: 3vh 0 1.5vh 0;
}
.after_match_background .after_match_score_gps_playerbox .after_match_gps_player_title .after_match_gps_player_title_essencial {
  color: rgb(255, 0, 0);
  position: relative;
  bottom: 1.8vh;
  margin: 0;
  left: 12.2vh;
}
.after_match_background .after_match_score_gps_playerbox .after_match_gps_player_title .after_match_gps_player_title_number {
  color: #000000;
  position: relative;
  bottom: 5vh;
  font-size: 1.8vh;
  left: 29vh;
  width: 7vh;
  text-align: center;
  line-height: 3vh;
  height: 3vh;
  border-radius: 2vh;
  align-items: center;
  border: 1px solid black;
}
.after_match_background .after_match_score_gps_playerbox .after_match_gps_player_list {
  width: 40vh;
  min-height: 5vh;
  margin: 1vh 0 2vh 2vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(5vh, auto);
}
.after_match_background .after_match_score_gps_playerbox .after_match_gps_player_list .after_match_gps_player {
  width: 8vh;
  height: 4vh;
  background-color: rgb(234, 235, 237);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1vh;
  border-radius: 1vh;
  cursor: pointer;
}
.after_match_background .after_match_score_gps_playerbox .after_match_gps_player_list .after_match_gps_player.selected {
  background-color: #000000;
  color: white;
}
.after_match_background .after_match_score_gps_playerbox .after_match_gps_player_list .after_match_gps_player_name {
  font-size: 1.7vh;
  font-weight: 600;
}/*# sourceMappingURL=after_match.css.map */