.join-team-modal-bg{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    .join-team-modal-mainbg{
            width: 36vh;
            height: 50%;;
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 1.8vh;
            border: 2px solid black;
        .join-team-modal-close{
                width: 80%;
                display: flex;
                justify-content: center;
                margin-top: 3vh;
                text-align: center;
                
                &:nth-child(1){
                    font-size: 2.2vh;
                    font-weight: 500;
                    margin-left: 27%;
                }
                .modal-close{
                    margin-left: 27%;
                }
            }
        .join-team-modal-input{
            width: 30vh;
                height: 5vh;
                border-radius: 1.4vh;
                border: 1px solid black;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 5vh;
            .join-team-modal-inputtext{
                width: 25vh;
                height: 4vh;
                border: none;
            }
            .join-team-modal-searchicon{
                height: 2vh;
            }
        }
    }

}