@mixin centerDisplay($direc){
    display: flex;
    flex-direction: $direc;
    align-items: center;
    justify-content: center;
}

@mixin fontsetting($s,$w,$mt){
    font-size: $s;
    font-weight: $w;
    margin-top: $mt;
}
.team_analysis_background{
    @include centerDisplay(column);
    .team_analysis_goback_icon{
        height: 2vh;
        position: relative;
        right: 18.7vh;
        top: 4.6vh;
    }
    .team_analysis_logo{
        @include fontsetting(2.1vh, 700, 2.5vh);
    }
    .team_analysis_title{
        @include fontsetting(2.5vh, 700, 4vh);
    }
    .team_analysis_match_title{
        @include fontsetting(2.1vh, 700, 2vh);
    }
    table{
        width: 40vh;
        padding: 5vh 0;
        margin-top: 4vh;
        border-collapse: collapse;
        border-radius: 2vh;
        thead{
            height: 7vh;
            @include fontsetting(2.2vh, 700, 0);
        }
        tbody{
            text-align: center;
            @include fontsetting(1.8vh, 500, 0vh);
            border-radius: 2vh;
            td{
                border: 1px solid rgb(96, 96, 96);
                padding: 1vh 0;
                &:first-child{
                    background-color: rgb(255, 150, 127);
                }
                &:last-child{
                    background-color:rgb(255, 201, 189);
                    width: 30%
                }
            }
        }
    }
}