.inputbox{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #cdcdcd;
    font-weight: 400;
    color: white;
    .input{
        width: 80%;
        height: 5vh;
        border: none;
    }
    &.large{
        width: 37vh;
        height: 7vh;
        border-radius: 3.5vh;
    }
    &.medium{
        width: 28vh;
        height: 6vh;
        border-radius: 3.5vh;
    }
    &.small{
        width: 18vh;
        height: 6vh;
        border-radius: 3.5vh;
        margin:0 1vh;
    }
}