@mixin centerDisplay($direct){
    display: flex;
    flex-direction: $direct;
    align-items: center;
    justify-content: center;
}

@mixin BoldText($font){
    font-size: $font;
    font-weight: 600

}
@mixin MediumText($font){
    font-size: $font;
    font-weight: 500
}
.match_plan_matchplan{
    width: 40vh;
    height: 23vh;
    border: 1px solid rgb(157, 157, 157);
    border-radius: 1vh;
    margin-top: 5vh;
    @include centerDisplay(column);

    .match_plan_teambox{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3vh;
        width: 90%;
        .match_plan_teamname1{
            @include BoldText(2.6vh);
            width: 45%;
            text-align: center;
        }
        .match_plan_teamname2{
            @include BoldText(2.6vh);
            width: 45%;
            text-align: center;
        }
        .match_plan_vs{
            margin: 0 2vh;
            @include BoldText(2vh);
            width: 10%;
        }
    }
    .match_plan_scorebox{
        @include centerDisplay(row);
        width: 90%;
        margin-top: 1.5vh;
        margin-left: -.9vh;
        .match_plan_homeScore{

        }
        .match_plan_-{
            @include BoldText(2vh);
            margin: 0 2vh;
        }
        .match_plan_awayscore{

        }
    }
    .match_plan_place{
        margin-top: 2vh;
        color: #000000ad;
        @include BoldText(1.8vh);
    }
    .match_plan_date{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin-top: 1vh;
        @include MediumText(1.5vh);
        color: #00000066;
        .match_plan_datespace{
            margin: 0 .5vh;
            
        }
    }
}