.kakaosignupbackground{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    .kakaosignuptitle{
        width: 40vh;
        font-size: 3vh;
        font-weight: 700;
        margin: 15vh 0 3vh 0;
    }
    .kakaosignupinput{
        width: 44vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5vh;
        margin-bottom: 5vh;
        .kakaogender_title{
            width: 30%;
            font-size: 1.8vh;
            font-weight: 500;
            text-align: center;
        }
        .kakaogender-largebox{
            width: 70%;
            
            .kakaogender-mediumbox{
                width: 90%;
                display: flex;
                justify-content: center;
                align-items: center;
                .kakaogender-logobox{
                    background-color: #f3f3f365;
                    width: 4vh;
                    height: 4vh;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid #d5d5d5;
                    border-radius: 50%;
                    &.black{
                        background-color: #000000;
                    }
                    
                    .kakaogender-logo{
                        width: 2vh;
                        height: 2vh;
                    }
                }
                .kakaogender-description{
                    margin-left: 2vh;
                    color: #7d7d7d;
                    font-weight: 500;
                    font-size: 1.7vh;
                }
            }
        }
    }
    
}
