.analnav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  border-radius: 1vh;
  border: 1px solid #E0E0E0;
  
  .leftside{
    transform: rotate(180deg);
    height: 2.5vh;
    margin-left: 2vh;
    cursor: pointer;
  }
  .analtitle{
    font-size: 1.8vh;
    font-weight: 700;
  }
  .rightside{
    height: 2.5vh;
    margin-right: 2vh;
    cursor: pointer;
  }
}