.footer{
  width: 100%;
  max-width: 499px;
  height: 10vh;
  background-color: rgb(253,253,255);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  position: fixed;
  bottom: 0;
  .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
      display: block;
    }
    .icon{
      height: 3.3vh;
      width: 3.3vh;
    }
    .title{
      font-size: 13px;
      font-weight: 500;
      margin: 8px 0;
      color: #A2A9B0;
      &.active {
        color: #000; 
        font-weight: bold;
      }
    }
    
  }
}