.footer{
  width: 100vw;
  height: 10vh;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  position: fixed;
  bottom: 0;
  .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .icon{
      height: 3.3vh;
    }
    .title{
      font-size: 13px;
      font-weight: 500;
      margin: 8px 0;
      color: #A2A9B0;
    }
  }
}