.genderBG{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F7F8FA;
  width: 19vh;
  height: 19vh;
  border-radius: 12px;
  cursor: pointer;
  .gendericon{
    height: 34px;
  }
  .gendertext{
    color: #697077;
  }
  .circle{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: rgba(229,233,236);
    display: flex;
    justify-content: center;
    align-items: center;
    .gendercheck{
      height: 15px;
    }
  }
}