@import '../styles/variable';

.login_input{
  background-color: #F2F4F8;
  border: none;
  border-radius: 1vh;
  width: 80vw;
  height: 55px;
  font-size: 16px;
  padding: 0 5vw;
  outline: none;
  
  &::placeholder{
    font-size: 17px;
    font-weight: 600;
    color: #C1C7CD;
  }
}