.my-tabs {
  width: 100%;
  margin: 0 auto;

  .tab-buttons {
    display: flex;
    border-bottom: .3vh solid #DADFE5;
    margin-bottom: 20px;

    .tab-button {
      color: #C6C6C6;
      font-size: 2.1vh;
      font-weight: bold;
      padding: .7vh 0;
      background-color: rgb(228,232,237);;
      margin: 0 2% 0 6%;
      border: none;
      border-radius: 5px 5px 0 0;
      cursor: pointer;
      outline: none;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        border-bottom: .4vh solid #262626;
        color: #262626;
      }

      &.active {
        border-bottom: .4vh solid #262626;
        color: #262626;
      }
    }
  }

}
