.quarter-tabs {
  width: 100%;
  margin: 4vh auto 0 auto;

  .tabs {
    display: flex;
    border-bottom: 1px solid #DADFE5;
    margin-bottom: 20px;

    .tab {
      color: #C6C6C6;
      font-size: 1.8vh;
      font-weight: bold;
      padding: .7vh 0;
      margin: 0 2% 0 6%;
      border: none;
      border-radius: 5px 5px 0 0;
      cursor: pointer;
      outline: none;
      background-color: white;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        border-bottom: .4vh solid #262626;
        color: #262626;
      }

      &.active {
        border-bottom: .4vh solid #262626;
        color: #262626;
      }
    }
  }

}
