@mixin display($dis, $dir, $ali, $jus) {
  display: $dis;
  flex-direction: $dir;
  align-items: $ali;
  justify-content: $jus;
}

.recentmatch{
  @include display(flex, row, end, space-between);
  background-color: white;
  width: 90%;
  height: 20vh;
  margin-bottom: 15vh;
  border-radius: 2vh;
  .detail{
    @include display(flex, column, space-between, start);
    width: 50%;
    height: 95%;
    margin-left: 3vh;
    .title{
      font-size: 2vh;
      font-weight: 700;
    }
    .place{
      @include display(flex, row, start, start);
      width: 90%;
      font-size: 1.3vh;
      font-weight: 500;
      color: #6F6F6F;
      
      & > img{
        height: 1.7vh;
      }
    }
    .fc{
      font-size: 1.7vh;
      font-weight: 600;
      margin: 1vh 0 2vh 0;
    }
    .date{
      font-size: 1.3vh;
      font-weight: 500;
      color: #A8A8A8;
    }
  }
  .logo{
    @include display(flex, row, start, start);
    height: 42%;
    width: 32%;
    .imgbox{
      width: 6vh;
      height: 6vh;
      overflow: hidden;
      .img{
        object-fit: contain;
        width: 6vh;
      }
    }
    .imgbox2{
      width: 6vh;
      height: 6vh;
      overflow: hidden;
      position: relative;
      right: 1.2vh;
      .img{
        object-fit: contain;
        width: 6vh;
      }
    }
  }
}