.summary{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  .contents{
    .startitle{
      display: flex;
      flex-direction: row;
      margin-top: 2vh;
      & > img{
        width: 3vh;
        height: 3vh;
        margin: auto 0;
      }
      & > p{
        font-size: 2.5vh;
        font-weight: 700;
        margin-left: 1vh;
        font-family: 'Pretendard-Regular';
      }
    }
    width: 88%;
    
    & > span{
      font-size: 2vh;
      font-weight: 400;
      font-family: 'Pretendard-Regular';
      color: #393939;
      line-height: 1.5;
    }
  }
}