.eiBG{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .genderBox{
    display: flex;
    width: 85vw;
    justify-content: space-between;
    align-items: center;
    margin: 5vh 0 25vh 0;
  }
}