@mixin centerDisplay($direc){
    display: flex;
    flex-direction: $direc;
    align-items: center;
    justify-content: center;
}
@mixin BoldText($font){
    font-size: $font;
    font-weight: 600

}



.main_page_background{
    @include centerDisplay(column);
    height: max-content;
    background-color: rgb(241, 242, 243);
    
    .main_page_navbox{
        @include centerDisplay(column);
        width: 45vh;
        margin: 0 auto;
        position: fixed;
        left: auto;
        top: 0;
        background-color: rgb(241, 242, 243);
        z-index: 1;
        .main_page_nav_logo{
            font-size: 2.1vh;
            font-weight: 700;
            margin-top: 2.5vh;

        }

        .main_page_teamlogobox{
            @include centerDisplay(column);
            width: 40vh;
            height: 20vh;
            border-bottom: 1px solid black;
            margin-top: -2vh;
            .main_page_teamlogobox_box{
                @include centerDisplay(row);
                
                .main_page_teamlogobox_logobox{
                    border-radius: 50%;
                    height: 4vh;
                    width: 4vh;
                    @include centerDisplay(row);
                    object-fit: contain;
                    margin-right: 1.5vh;
                    .main_page_teamlogobox_logo{
                        height: 4vh;
                        
                    }
                    
                }
                .main_page_teamlogobox_teamname{
                    @include BoldText(2.5vh);
                }
            }
            
            
            .main_page_nav{
                @include centerDisplay(row);
                width:45vh;
                margin-bottom: -8vh;
                margin-top: 2vh;
                .main_page_title{
                    @include BoldText(2vh);
                    margin-top: 1.5vh;
                    width: 50%;
                }
                .main_page_nav_addevent{
                    height: 3vh;
                    margin-left: 1.5vh;
                    margin-top: 1.5vh;
                    cursor: pointer;
                }
                .main_page_nav_team{
                    height: 2.5vh;
                    margin-left: 8vh;
                    margin-top: 1.4vh;
                    cursor: pointer;
                }
            }
            
            
        }
    }
    
    
    .main_page_contentbox{
        position: relative;
        background-color: rgb(241, 242, 243);
        min-height: 100vh;
        .main_page_contentbox_empty{
            text-align: center;
            .main_page_contentbox_empty_text1{
                @include BoldText(4vh);
                margin-top: 45vh;
            }
            .main_page_contentbox_empty_text2{
                @include BoldText(2.5vh);
                margin-top: 3vh
            }
        }
        .main_page_matchplan{
            @include centerDisplay(column);
            width: 40vh;
            height: 15vh;
            border-radius: 1vh;
            margin-top: 3vh;
            background-color: white;
            &:first-of-type{
                margin-top: 25vh;
            }
            &:hover{
                border: 1px solid black;
            }
    
            .main_page_matchplan_teambox{
                @include centerDisplay(row);
                .main_page_matchplan_teamname1{
                    @include BoldText(2.4vh);
                    width: 70%;
                    text-align: center;
                }
                .main_page_matchplan_vs{
                    margin: 0 2vh;
                    @include BoldText(2vh);
                    width: 10%;
                }
                .main_page_matchplan_teamname2{
                    @include BoldText(2.4vh);
                    width: 70%;
                    text-align: center;
                }
            }
            .main_page_matchplan_place{
                margin-top: 2vh;
                color: #000000ad;
                @include BoldText(1.8vh);
            }
            .main_page_matchplan_date{
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 100%;
                margin-top: 1vh;
                @include BoldText(1.5vh);
                color: #00000066;
                
            }
        }
    }
}