@mixin display($dis, $dir, $ali, $jus) {
  display: $dis;
  flex-direction: $dir;
  align-items: $ali;
  justify-content: $jus;
}

.personalanal{
  @include display(flex, column,  center, start);
  width: 100%;
  min-height: 100vh; 
  &:last-child{
    margin-bottom: 10vh;
  }
  .greybackground{
    @include display(flex, column,  center, start);
    width: 100%;
    background-color: #edf0f3bb;
    height: max-content;
  }
}