@mixin display($dis, $dir, $ali, $jus) {
  display: $dis;
  flex-direction: $dir;
  align-items: $ali;
  justify-content: $jus;
}

.userinfo {
  @include display(flex, column, center, center);
  min-height: 100vh;
  width: 100%;
  max-width: 499px;

  .backdiv {
    position: fixed;
    width: 90%;
    top: 5vh;

    .backBtn {
      background-color: #262626;
      opacity: 50%;
      border: 1px solid #a8a8a8;
      width: 5vh;
      height: 5vh;
      border-radius: 50%;
      @include display(flex, column, center, center);
      .back {
        height: 2.5vh;
      }
    }
  }
  .cards-container {
    @include display(flex, column, center, flex-start);
    overflow-y: scroll;
    height: 100vh; // 부모 높이를 설정하여 스크롤 영역 명확화
    width: 100%;
    scroll-snap-type: y mandatory; // 카드 스크롤 단위 설정
    scroll-behavior: smooth;
  
    .infoBack {
      @include display(flex, column, center, center);
      height: 100vh; // 각 카드가 뷰포트 높이를 차지
      width: 100%;
      scroll-snap-align: center;
    }
  }
}
